.bot-content {
    box-sizing: border-box;

    .bot-setting-wrap {
        padding: 1.875rem;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .bot-wrap {
        display: flex;
        width: 100%;
        height: 100%;

        &.bot-add-wrap {
            display: flex;
            flex-direction: column;

            > .section-wrap {
                padding: 0 1.875rem 1.875rem;
                box-sizing: border-box;
                height: 100%;
                gap: 1.875rem;
                
                .progress-bar {
                    padding: 1.875rem 0;
                    box-sizing: border-box;;
                }

                > div {
                    &:not(.progress-bar) {
                        height: calc(100% - 128px);
                    }
                }    

                .chat-container {
                    height: 100%;
                    .chat-content {
                        .chat-wrap {
                            .chat-room {
                                padding: 0;
                            }
                        }
                    }
                }
            }

            &:has(.panel-active) {
                flex-direction: row;
            }

            &.bot-add-confirm {
                > .section-wrap {
                    > div {
                        &:not(.progress-bar) {
                            overflow-y: auto;
                            overflow-x: hidden;

                            > div {
                                margin: 30px 0;

                                &:first-child {
                                    margin-top: 0;
                                }

                                .scenario {
                                    padding: 0 1.5rem;
                                    box-sizing: border-box;

                                    .form-box {
                                        &:not(:last-child) {
                                            padding-bottom: 30px;
                                        }
                                    }
                                }
                            }

                            > * {
                                overflow-y: hidden;
                            }
                        }
                    }   
                }
            }
            
        }
    }

    .tab-wrap {
        width: 100%; 
        .tab-menu {
            padding: 1.875rem 1.875rem 0;
        }

        .tab-content {
            padding: 0 1.875rem 1.875rem;
        }

    }

    > .section-wrap {
        height: 100%;
        > .form {
            padding: 1.875rem;
            box-sizing: border-box;
        }
    }

    .accor-wrap {
        .accor-title {
            transition: all 0.5s ease-in-out;
            margin: 0;
            cursor: pointer;

            &.active {
                margin-bottom: 28px;

                i {
                    transform: rotate(180deg);
                }
            }
        }
        .accor-content {
            padding: 0;

            &.no-scroll {
                height: auto!important;
                overflow: visible!important;
                display: none;
                
                &.open {
                    display: block;
                }
            }
        }
    }

    .form {
        height: 100%;
        overflow-y: auto;

        &.accor-content {
            height: 0;
        }

        .form-content {
            .form-input {
                align-items: flex-start;

                > label {
                    width: 200px;
                }
                
                // > div {
                //     width: calc(100% - 160px - 2rem);
                // }
            }

            hr {
                border-color: var(--lang-ui-04);
                margin: 20px auto;
            }
        }

        .btn-wrap {
            position: fixed;
        }

        &.scenario {
            .form-content {     
                .accor-wrap {
                    .accor-title {
                        margin: 0;
                        cursor: pointer;
                    }

                    .accor-content {
                        padding: 0 1.5rem;
                    }
                }

                .title {
                    .desc {
                        display: block;
                        margin-top: 12px;
                        font-weight: 400;
                        padding-left: 1.5rem
                    }
                }
                .form-input {
                    > label {
                        font-size: 12px;
                        color: var(--lang-text-03);
                    }
                    .msg {
                        line-height: 135%;
                    }
                }
            }
            
        }
    }

    .add-on {
        width: 100%;

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;

            li {
                max-width: 320px;
                height: 48px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                box-sizing: border-box;
                background-color: var(--lang-ui-03);
            }
        }
    }

    .bot-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        box-sizing: border-box;

        .profile-img {
            svg {
                width: 80px;
                height: 80px;
            }
        }

        .bot-profile {
            .profile-img {
                margin-bottom: 12px;
            }
            
            .bot-name {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 12px;
            }
            .bot-desc {
                font-size: 12px;
                line-height: 145%;
            }
        }

        .bot-detail {
            display: flex;
            flex-direction: column;
            gap: 12px;

            > div {
                display: flex;
                justify-content: space-between;
                

                span {
                    &:nth-child(1) {
                    }

                    &:nth-child(2) {
                        color: var(--lang-text-03);
                    }
                }
            }
            
        }
    }

    .detail-setting {
        display: flex;
        flex-direction: column;
        gap: 30px;
        line-height: 130%;

        > div {
            width: 85%;
            display: flex;
            flex-direction: column;
            gap: 12px;

            > span {
                font-size: 12px;
                color: var(--lang-text-03);
            }

            .dep2 {
                display: flex;
                flex-direction: column;
                gap: 20px;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    span {
                        font-weight: 600;

                        &.desc {
                            font-weight: 400;
                            font-size: 12px;
                            color: var(--lang-text-03);
                        }
                    }
                }
            }
        }
    }
    
    
}

.template-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;

    .template-header {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .title-wrap {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .sub-title {
                font-size: 1rem;
            }
    
            .title {
                font-size: 2rem;
                font-weight: 600;
                line-height: 135%;
            }
        }
        
        .desc {
            color: var(--lang-white)!important;
            font-size: 14px;
        }
    }

    .template-body {
        display: flex;
        flex-direction: column;
        gap: 40px;

        > .btn-wrap {
            button {
                min-width: 240px;
            }
        }

        .template-list {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(306px,1fr));
            gap: 20px;

            .template-item {
                position: relative;
                background-color: #333;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &.template-add {
                    min-height: 154px;

                    button {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 10px;
                        font-size: 1rem;
                    }
                }

                .template-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                    gap: 20px;
                    padding: 20px;

                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1.25rem;

                        .name {
                            font-weight: 600;
                            font-size: 1rem;
                        }

                        .recommend {
                            background-color: var(--lang-primary);
                            color: var(--lang-ui-00);
                            padding: 5px 10px;
                            font-size: 0.8rem;
                        }
                    }

                    .desc {
                        line-height: 125%;
                        color: var(--lang-white)!important;
                    }

                    .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 12px;
                        
                        > span {
                            font-weight: 600;
                        }

                        .tags {
                            margin-top: 0;

                            span {
                                padding: 0;
                            }
                        }
                    }
                }

                .btn-wrap {
                    button {
                        width: 100%;
                        text-align: center;

                        &:hover {
                            background-color: var(--lang-ui-03);
                        }
                    }
                }
            }
        }
    }
}

.template-add-wrap {
    height: 100%;

    .form {
        .form-content {
            .form-input {
                label {
                    .chk-item {
                        width: 100%;
                    }
                }
            }
        }
    }

    .accor-list {
        .accor-wrap {
            &:not(:last-child) {
                border-bottom: 1px solid var(--lang-ui-05);
                padding-bottom: 40px;
                margin-bottom: 40px;
            }

            .accor-content {
                .accor-content-wrap {
                    .form {
                        .form-content {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
}

@include tablet {
    .bot-content {
        .bot-setting-wrap {
            padding: 1.25rem;
        }

        .tab-wrap {
            .tab-menu {
                padding: 1.25rem 1.25rem 0;
            }
    
            .tab-content {
                padding: 0 1.25rem 1.25rem;
            }
        }

        > .form {
            padding: 1.25rem;
        }

        > .section-wrap {
            padding: 1.25rem;
        }

        .bot-wrap {
            &.bot-add-wrap {
                .progress-bar {
                    padding: 1.25rem 0;
                }
    
                > .section-wrap {
                    padding: 0 1.25rem 1.25rem;
                }
            }
        }
    }
}

@include mobile {
    .bot-content {
        .tab-wrap {
            .tab-menu {
                padding: 0
            }
            
            .tab-content {
                padding: 0 1.125rem 1.125rem;
            }
        }

        > .form {
            padding: 1.125rem;
        }

        .form {
            .form-content {
                .form-input {
                    > div {
                        width: 100%;
                    }
                }
            }
        }

        > .section-wrap {
            padding: 1.125rem;
            box-sizing: border-box;
        }

        .bot-wrap {
            &.bot-add-wrap {    
    
                > .section-wrap {
                    padding: 0 1.125rem 1.125rem;

                    .progress-bar {
                        padding: 1rem 0;
                    }
                }

                .chat-container {
                    .chat-content {
                        .chat-wrap {
                            .chat-room {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

        .add-on {
            ul {
                li {
                    max-width: none;
                    width: 100%;;
                }
            }
        }
    }
}