@import '../abstracts/mixin';

// 2차 패널 봇 리스트
.chat-bot-list {
    height: 100%;
    position: relative;
    
    &.new {
        ul {
            height: calc(100% - 48px); overflow-y: auto;
            li {
                color: var(--lang-text-01);

                a {
                    width: 100%; display: flex; gap: 1rem; align-items: center; padding: 1rem; box-sizing: border-box; cursor: pointer;
        
                    .chat-bot {
                        width: calc(100% - 3.05rem); display: flex; flex-direction: column; justify-content: space-between; gap: 4px;
        
                        .chat-bot-top {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
        
                            .bot-name {
                                font-weight: 400;
                                margin-right: 6px;
                            }
                            
                            i {
                                font-size: 10px;
        
                                &.fa-thumbtack {
                                    transform: rotate(45deg);
                                }
                            }
        
                            .msg-date {
                                font-size: 12px;
                                color: var(--lang-text-03);
                            }
                        }
        
                        .msg-preview {
                            color: var(--lang-text-03);
                            font-size: 12px;
                            line-height: 125%;
                            display: inline-flex;
                            justify-content: space-between;
                            gap: 2px;
                            align-items: center;
        
                            .msg-count {
                                display: inline-block;
                                background-color: var(--lang-primary);
                                border-radius: 100%;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                width: 1rem;
                                height: 1rem;
                                box-sizing: border-box;
                                color: var(--lang-ui-00);
                                font-size: 10px;
                                font-weight: 700;
                            }
                        }
                    }
                }

                &.selected {
                    background-color: var(--lang-primary);
                    color: var(--lang-ui-00);

                    a {
                        .msg-preview, .msg-date {
                            color: var(--lang-ui-00)!important;
                        }
                    }

                    &:hover {
                        background-color: var(--lang-primary);
                    }
                }

                &:hover {
                    background-color: var(--lang-ui-04);
                }

                .btn-wrap {
                    a {
                        justify-content: flex-start; gap: 10px;
                        &:hover {
                            background-color: var(--lang-ui-04);
                        }
                    }
                }
            }
        }

        .btn-wrap {
            position: absolute; bottom: 0; left: 0; width: 100%;
        }
        
    }
}

.chat-container {
    // 봇 이름
    .chat-title {
        padding: 0 0 0 1.25rem!important;

        .left {
            gap: 1rem;

            h3 {
                font-size: 1rem; white-space: nowrap;
            }
        }

        // 4차 패널 메뉴
        .chat-menu {
            display: flex; align-items: center; height: 100%;
            .btn {
                min-width: 48px; height: 100%;
                i {
                    font-size: 1rem;
                }

                &.active {
                    border-bottom: 2px solid var(--lang-primary);
                    i {
                        color: var(--lang-primary);
                    }
                }
            }
        }
        
    }

    .chat-content {
        display: flex; width: 100%;

        .chat-wrap {
            display: flex; flex-direction: column; gap: 0; width: 100%; height: 100%; overflow: hidden; position: relative; background-color: var(--lang-chat-bg);

            // 채팅 내용
            .chat-room {
                display: flex; flex-direction: column; padding: 20px; box-sizing: border-box; height: calc(100% - 94px); overflow-y: auto; overflow-x: hidden; gap: 20px;
    
                .chat-date {
                    text-align: center; font-size: var(--lang-font-basic); margin: 1rem 0;;
                }
    
                .chat-card-wrap {
                    display: flex; flex-direction: column; gap: 10px;
    
                    .chat-user {
                        display: flex; gap: 10px; align-items: center;
                    }
    
                    .chat-card {
                        display: flex; gap: 10px; align-items: flex-end;
    
                        .renderer {
                            position: relative;
                            .lang-chat {
                                background-color: var(--lang-chat-card-send); padding: 0.5rem 0.75rem; box-sizing: border-box; font-size: 0.875rem; max-width: 550px; line-height: 24px; border-radius: 6px; color: var(--lang-text-01);
        
                                .chat-info {
                                    color: var(--lang-ui-06); font-size: 12px;
                                }

                                &.lang-chat-pdf {
                                    padding: 0!important;
                                    max-width: 700px;
                                    width: 700px;
                                    
                                    .pdf-wrap {
                                        display: flex; flex-direction: column; max-width: 700px; box-shadow: rgba(0,0,0,.1) 0 4px 6px -1px,rgba(0,0,0,.06) 0 2px 4px -1px; word-break: break-all; border-radius: 0.5rem; white-space: normal;
        
                                        &.expand {
                                            height: 500px;

                                            .pdf-header {   
                                                .btn-pdf {
                                                    i {
                                                        transform: rotate(180deg);
                                                    }
                                                }

                                                a {
                                                    display: block;
                                                }
                                            }

                                            .pdf-viewer {
                                                display: flex;
                                            }
                                        }
        
                                        .pdf-header {
                                            width: 100%;
                                            padding: 0.625rem 0.75rem;
                                            box-sizing: border-box;

                                            button {
                                                margin-right: 10px;
                                            }

                                            i {
                                                font-size: 0.875rem;
                                            }

                                            a {
                                                display: none;
                                            }
                                        }
        
                                        .pdf-viewer {
                                            width: 100%;
                                            height: calc(100% - 2.5rem);
                                            overflow: hidden;
                                            display: none;
                                            border-bottom-left-radius: 0.5rem;
                                            border-bottom-right-radius: 0.5rem;
                                            
                                            .pdf-info {
                                                width: 200px;
                                                height: 100%;
                                                background-color: #333;
    
                                                .pdf-item {
                                                    display: flex;
                                                    flex-direction: column;
                                                    gap: 15px;
                                                    padding: 0.75rem;
                                                    box-sizing: border-box;
                                                    border-bottom: 1px solid var(--lang-ui-03);
    
                                                    .version {
                                                        font-size: 0.75rem;
                                                        color: var(--lang-text-03);
                                                    }
    
                                                    .title {
                                                        font-size: 0.875rem;
                                                        font-weight: 600;
                                                        color: var(--lang-white);
                                                    }

                                                    .number {
                                                        font-size: 0.75rem;
                                                        color: var(--lang-text-03);
                                                        display: flex;
                                                        align-items: center;
                                                        gap: 15px;

                                                        > span {
                                                            display: flex;
                                                            align-items: center;
                                                            gap: 10px;
                                                        }
                                                    }
                                                }
                                                
                                            }
    
                                            iframe {
                                                width: calc(100% - 200px);
                                                height: 100%;
                                                background-color: var(--lang-white);
                                            }
                                        }
                                    }
                                }
    
                                &.chat-card {
                                    width: 280px;
                                    padding: 0!important;

                                    .tags {
                                        .tag {
                                            border-radius: 4px;
                                        }
                                    }
                                }

                                &.chat-quration {
                                    .detail-info {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 1rem;
                                        margin-top: 1rem;

                                        .detail {
                                            line-height: 135%;
                                            font-size: 13px;
                                            color: var(--lang-text-03);
                                            
                                            button {
                                                text-decoration: underline;
                                            }
                                        }

                                        .source {
                                            width: 100%;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-overflow: ellipsis;
                                            font-size: 0.75rem;
                                            
                                            a {
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }

                                &.chat-table {
                                    max-width: 520px;
                                }

                                .card-box {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;

                                    .card-txt {
                                        padding: 1.25rem;
                                        box-sizing: border-box;

                                        .title {
                                            font-size: 1.125rem;
                                            font-weight: 600;
                                            margin-bottom: 10px;
                                        }

                                        .sub {
                                            font-size: 0.875rem;
                                            line-height: 125%;
                                            color: var(--lang-text-03);
                                        }

                                    } 
                                    
                                    .card-img {
                                        position: relative;
                                        min-height: 186px;
                                        border-top-left-radius: 10px;
                                        border-top-right-radius: 10px;
                                        background-color: var(--lang-white);

                                        button {
                                            position: absolute;
                                            cursor: pointer;
                                            right: 10px;
                                            top: 10px;
                                            width: 28px;
                                            height: 28px;
                                            border-radius: 4px;
                                            border: none;
                                            background-color: rgba(51,51,51,0.5);
                                            display: inline-flex;
                                            align-items: center;
                                            justify-content: center;

                                            i {
                                                color: var(--lang-white);
                                            }
                                        }
                                    }

                                    .card-btn {
                                        padding: 0 1.25rem 1.25rem;
                                        button {
                                            width: 100%;
                                        }
                                    }

                                    .card-list {
                                        padding: 0 1.25rem 1.25rem;

                                        ul {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 10px;

                                            li {
                                                display: inline-flex;
                                                align-items: center;
                                                width: 100%;
                                                height: 3rem;
                                                padding: .75rem 1rem;
                                                box-sizing: border-box;
                                                background-color: var(--lang-ui-04);
                                            }
                                        }
                                    }

                                    .card-table {
                                        padding: 0 1.25rem 1.25rem;
                                        box-sizing: border-box;
                                        overflow-x: auto;

                                        table {
                                            width: 100%;
                                            text-align: center;
                                            font-size: 0.875rem;
                                            
                                            tr {
                                                border-bottom: 1px solid var(--lang-table-border);
                                            }

                                            th, td {
                                                height: 40px;
                                                vertical-align: middle;
                                                white-space: nowrap;
                                                padding: 0.5rem;
                                                box-sizing: border-box;
                                            }

                                            th {
                                                font-weight: 400;
                                                background-color: var(--lang-ui-04);
                                            }
                                        }
                                    }
                                }
                            }

                            .chat-card-menu {
                                display: none;
                                position: absolute;
                                top: 0;
                                left: 105%;
                                width: 200px;
                                background-color: var(--lang-ui-03);
                                box-shadow: 3px 3px 5px 10px rgba(0,0,0,0.1);

                                &.active {
                                    display: block;
                                }

                                .noline {
                                    border-bottom: none;
                                }

                                ul {
                                    display: flex;
                                    flex-direction: column;

                                    li {
                                        cursor: pointer;
                                        padding: 0.75rem 0.625rem;
                                        border-bottom: 1px solid var(--lang-ui-02);
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        .status {
                                            display: inline-block;
                                            width: 10px;
                                            height: 10px;
                                            background-color: #00FF66;
                                            border-radius: 100%;
                                            margin-right: 5px;
                                        }

                                        span {
                                            font-size: 0.875rem;
                                        }

                                        &:hover {
                                            background-color: var(--lang-ui-04);
                                        }
                                    }
                                }
                            }

                            .btn-source {
                                border-radius: 6px;
                                margin-top: 0.6rem;
                            }
    
                            .chat-time {
                                margin-top: 0.6rem;
                                font-size: 12px;
                                color: var(--lang-text-03)
                            }
                        }
    
                        .extra {
                            height: 100%; display: flex; flex-direction: column; justify-content: flex-end;
    
                            &.detail {
                                justify-content: space-between;
                            }
                            .chat-detail {
                                background-color: var(--lang-chat-card-send); border-radius: 4px; display: flex; align-items: center; font-size: 12px; padding: 4px; box-sizing: border-box; gap: 4px; position: relative;
                                button {
                                    padding: 0; width: 24px; height: 24px; display: flex; justify-content: center; align-items: center;
                                }
                            }
                        }
                    } 
    
                    &.me {
                        align-items: flex-end;
                        
                        .chat-card {
                            .renderer {
                                .lang-chat {
                                    background-color: var(--lang-chat-card-recv); color: var(--lang-text-02);
                                }
    
                                .chat-time {
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
    
            // 채팅 메시지 창
            .chat-input {
                width: 100%; position: sticky; bottom: 0; display: flex; padding: 1.5rem; box-sizing: border-box;
    
                .text-field {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;
                    background-color: var(--lang-ui-03);
    
                    button {
                        background-color: var(--lang-ui-03); height: 100%; border-right: 1px solid var(--lang-chat-border);
                    }
    
                    .input-item {
                        width: 100%;
    
                        input {
                            width: 100%; min-height: 46px;
                        }
    
                        textarea {
                            width: 100%; min-height: 98px;
                        }
                    }
                    
                }

                .chat-input-tool {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .dropdown-wrap {
                        box-sizing: border-box;
                        .dropdown {
                            > button {
                                padding: 0.875rem 0.625rem 0.875rem 1rem;
                            }

                            .dropdown-list {
                                top: -150%;
                            }
                        }
                        
                    }

                    > button {
                        display: inline-flex;
                        align-items: center;
                        padding: 0;
                        height: fit-content;
                        font-size: 0.75rem;

                        i {
                            font-size: 1.25rem;
                        }

                        &.active {
                            color: var(--lang-primary);
                            background-color: var(--lang-ui-04);
                            padding: 5px 10px;
                            box-sizing: border-box;
                            border-radius: 25px;
                        }
                    }
                }
    
                
                .btn-send {
                    width: 46px; min-height: 46px; height: 100%; display: flex; align-items: center; justify-content: center; cursor: pointer; background-color: var(--lang-primary);
                    i {
                        color: var(--lang-ui-00);
                    }
                }
                
            }
        }
    }
}

@include tablet {
    .chat-container {
        .chat-content {
            .chat-wrap {
                .chat-room {
                    height: calc(100% - 78px);

                    .chat-card-wrap {
                        .chat-card {
                            .renderer {
                                .lang-chat {
                                    &.lang-chat-pdf {
                                        width: 100%;

                                        .pdf-wrap {
                                            &.expand {
                                                .pdf-viewer {
                                                    flex-direction: column;
                                                    .pdf-info {
                                                        width: 100%;
                                                        height: auto;
                                                    }
                                                    iframe {
                                                        width: 100%;
                                                        min-height: 400px;
                                                        max-height: 600px;
                                                        overflow-y: auto;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .chat-input {
                    padding: 1rem;
                }
            }
        }
    }
}

@include mobile {
    .chat-container {
        .chat-content {
            .chat-wrap {
                width: 100%;

                .chat-room {
                    height: calc(100% - 46px);
                    padding: 1rem;

                    .chat-card-wrap {
                        .chat-card {
                            flex-direction: column;
                            align-items: flex-start;

                            .renderer {
                                display: flex;
                                align-items: flex-end;
                                gap: 10px;
                                width: 100%;

                                .lang-chat {
                                    width: calc(100% - 68px);
                                }

                                .chat-time {
                                    width: 58px;
                                }

                                .lang-chat-pdf {
                                    .pdf-wrap {
                                        min-width: auto;

                                        
                                    }
                                }
                            }
                        }

                        &.me {
                            .chat-card {
                                .renderer {
                                    flex-direction: row-reverse;
                                }
                            }
                        }
                    }
                }

                .chat-input {
                    padding: 0;
                    .btn-send {
                        background-color: var(--lang-ui-03);
                        i {
                            color: var(--lang-ui-06)
                        }
                    }
                }
            }

            .chat-panel {
                width: 90%;
                top: 0;
                right: auto;
                left: 10%;
                z-index: 999;

                .panel-layer {
                    display: block;
                }
            }
        }
    }
}
