@import '../abstracts/mixin';

.table-wrap {
    color: var(--lang-text-01);
    position: relative;

    .table-name {
        font-size: 1rem; margin-bottom: 10px;
    }

    .table-desc {
        color: var(--lang-text-03); margin-bottom: 1rem; line-height: 130%;
        span {
            display: block; margin-bottom: 4px; font-size: 12px; color: var(--lang-text-03);
        }
    }

    .table-title {
        h4 {margin-bottom: 10px; font-weight: 600;}
        margin-bottom: 2rem;
    }

    .table-filter {
        width: 100%; display: flex; flex-wrap: wrap;
        .dropdown-wrap {
            min-width: 180px; max-width: 200px;
        }
    }

    .context-menu {
        display: none;

        &.show {
            display: block;
        }
    }

    .table-select {
        background-color: var(--lang-primary);
        color: var(--lang-ui-00);
        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-wrap {
            display: flex;
            align-items: center;

            > button {
                &:not(:last-child)::after {
                    position: absolute;
                    display: block;
                    content: '';
                    height: 40%;
                    width: 1px;
                    background-color: var(--lang-ui-00);
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            > div {
                display: flex;
                align-items: center;
                position: relative;

                button {
                    svg {
                        width: 16px;
                        height: 16px;
                        path {
                            fill: var(--lang-ui-00);
                        }
                    }
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    height: 50%;
                    width: 1px;
                    background-color: var(--lang-ui-00);
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .table-search {
        width: 100%; display: flex; justify-content: space-between; gap: 0;
        .input-search {
            width: 100%; background-color: var(--lang-table-row); border: none;
            input {width: 100%;}
        }
        > button {
            white-space: nowrap;
        }
    }

    .table {
        width: 100%;

        table {
            width: 100%;
            table-layout: fixed;
            font-size: 0.875rem;
            min-width: 600px;

            tr {
                .chk-item  {
                    width: 12px;
                    input[type=checkbox] + label.label-cb {
                        margin-right: 0!important;
                    }
                }

                .btn:has(>i) {
                    padding: 0;
                    width: 16px!important;
                }
                
                th, td {
                    vertical-align: middle;
                    height: 3rem;
                    text-align: left;
                    padding: 0.5rem;
                    box-sizing: border-box;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    &:has(.dropdown-wrap) {
                        overflow: visible;
                    }

                    &:has(.chk-item) {
                        text-align: center;

                        .chk-item {
                            display: inline-block;
                        }
                    }

                    .table-btn {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        .icon-only
                        {
                            &:focus, &:active {
                                border: none;
                            }
                        }
                    }
                }
            }

            thead {
                tr {
                    th {
                        font-weight: 400;
                        background-color: var(--lang-table-head);
                        align-content: center;
                        white-space: nowrap;
                    }
                }
            }

            tbody {
                tr {

                    &:not(:last-child) {
                        td {
                            border-bottom: 1px solid var(--lang-table-border)
                        }
                    }

                    &:hover {
                        td {
                            background-color: var(--lang-table-row-hover);
                        }
                    }

                    &.detail-row {
                        height: 0;
                        opacity: 0;
                        transition: height 0.3s ease, opacity 0.3s ease;
                        overflow: hidden; 
                        display: none;

                        &:has(.dropdown-wrap) {
                            overflow: visible;
                        }
                    }

                    td {
                        background-color: var(--lang-table-row);

                        a {
                            text-decoration: underline;
                            text-underline-offset: 4px;
                            display: inline;
                        }

                        .tags {
                            margin-top: 0;
                        }
                        
                        .tag {
                            margin: 0 3px 0 0;
                        }

                        &:has(.btn) {
                            text-align: center;
                        }

                        // &:has(.tag) {
                        //     display: flex;
                        //     align-items: center;
                        //     gap: 5px;
                        //     height: 100%;
                        // }
                    }
                }
            
                
            }
        }
    }

    &.input-table {
        .table {
            table {
                tbody {
                    tr {
                        td {
                            overflow: unset;
                            padding: 0.375rem 0.5rem;

                            .table-btn {
                                justify-content: flex-end;
                            }

                            .input-item {
                                input {
                                    width: 100%;
                                }
                            }

                            .dropdown-wrap {
                                min-width: 150px;

                                .dropdown {
                                    > button {
                                        width: 100%; 
                                        min-width: 150px;
                                        max-width: 100%; 
                                        white-space: nowrap;
                                        overflow: hidden;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        gap: 8px;

                                        .dropdown-txt {
                                            flex-grow: 1;
                                            min-width: 0;
                                            max-width: calc(100% - 24px);
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            text-align: left;
                                        }
                                    
                                        .dropdown-icon {
                                            flex-shrink: 0;
                                            margin-left: 0.5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .pagination {
        width: 100%; height: 48px; box-sizing: border-box; padding: 1rem 0; display: flex; justify-content: space-between; align-items: center; background-color: var(--lang-table-row); border-top: 1px solid var(--lang-table-border);

        select {
            border: none; background-color: transparent; color: var(--lang-text-01);

            option {
                color: var(--lang-ui-00);
            }
        }

        .left {
            display: flex; align-items: center; height: 100%;
            
            > * {height: 100%; display: flex; align-items: center; padding: 0 1rem;}

            .pagination-size {    
                border-right: 1px solid var(--lang-table-border);

                
            }
            
        }
        
        .right {
            display: flex; align-items: center; height: 100%;

            > * {height: 100%; display: flex; align-items: center;}

            .pagination-current {
                height: 20px; padding: 0 1rem; border-right: 1px solid var(--lang-table-border);

                select {padding: 0 7px; height: 20px;}
                span {display: inline-block; margin-left: 0.5rem;}
            }

            .pagination-btn-wrap {
                .btn-pagination {
                    width: 40px; height: 20px; padding: 0; display: flex; justify-content: center; align-items: center;

                    // &:nth-child(1) {border-right: 1px solid var(--lang-table-border);}
                }
            }
        }
    }
}

@include tablet {
    .table-wrap {
        #table {
            width: 100%;

            table {

                tr, td {
                    white-space: nowrap;
                }
            }
        }

        .pagination {
            height: 40px;

            .left {
                > * {
                    padding : 0 6px;
                }

                .pagination-count {
                    display: none;
                }
            }

            .right {
                .pagination-btn-wrap {
                    .btn-pagination {
                        width: 40px; height: 40px;
                    }
                }
            }
        }
    }

}

@include mobile-large {
    .table {
        overflow-x: auto;
        table {
            display: block;
            -webkit-overflow-scrolling: touch;
            table-layout: auto;

            tr {
                td, th {
                    white-space: normal;
                    overflow: visible;
                    text-overflow: unset;
                }
            }
        }
    }
}

@include mobile {
    .table-wrap {
        .table-search {
            .input-item {
                padding: 0;
                position: relative;

                > input {
                    opacity: 0;;
                    visibility: hidden;
                    position: absolute;
                    height: 100%;
                    background-color: var(--lang-ui-03);
                    z-index: 9;
                }

                > div {
                    justify-content: space-around;
                    width: 100%;
                }
            }

            button {
                &.btn-primary {
                    background-color: var(--lang-table-row);
                    color: var(--lang-primary);
                }
            }
        }
    }
}