.avatar {border-radius: 100%; background-color: var(--lang-white); display: flex; justify-content: center; align-items: center; color: var(--lang-primary);}
.avatar-sm {width: 2rem; height: 2rem;}
.avatar-md {width: 2.25rem; height: 2.25rem;}
.avatar-lg {width: 2.5rem; height: 2.5rem;}
