@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-size: 1.125rem; 
    font-weight: 600;
}

body {
    font-size: 0.875rem;
}

button {
    font-size: 0.875rem;
}